<div class="container-fluid p-0 overflow-hidden">
    <div class="row">
        <app-sidebar class="col-md-3 col-lg-2 d-md-block"></app-sidebar>
        <main class="col-md-9 col-lg-10 px-md-4 content">
            <h2 class="my-4">Lista de Usuarios</h2>
            @if (hasError) {
                <div class="alert alert-danger" role="alert">
                    <h3>No se ha podido conectar con la API</h3>
                </div>
            } @else {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                                <th>Rol</th>
                                <th>Direcciones</th>
                                <th>Carrito de Compras</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (user of userService.users; track $index) {
                                <tr>
                                    <td>{{ user.id_usuario }}</td>
                                    <td>{{ user.nombre }}</td>
                                    <td>{{ user.apellido }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.telefono }}</td>
                                    <td>{{ user.rol.nombre_rol }}</td>
                                    <td>
                                        @if (user.rol.id_rol === 2) {
                                            <p>No aplica, el usuario es administrador</p>
                                        } @else {
                                            <ul>
                                                @if (user.direcciones.length === 0) {
                                                    <p>No hay direcciones registradas</p>
                                                } @else {
                                                @for (direccion of user.direcciones; track $index) {
                                                    <li>
                                                        {{ direccion.calle }}, {{ direccion.ciudad }}, 
                                                        {{ direccion.departamento }}, {{ direccion.codigo_postal }} 
                                                        ({{ direccion.tipoDireccion.nombreTipoDireccion }})
                                                    </li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">Gestionar Carrito</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </main>
    </div>
</div>